<div class="block {{ class|default('') }}" style="{{ style|default('') }}">
  <div class="block block--{{ modifier }}" style="fill: {{ color }}; height: {{ height }}">
    Hello World
  </div>
</div>
