<div class="{{class|default('')}}">
  <div>
    <input type="radio" checked>
    <img src="{{imageSrc}}">
    <img src="{{imageSrc}}">
    <div class="a b c"></div>
    <div title="Title" class="category-filter-list categories {{ isSomething ? 'block ' }} {{ not isSomething ? 'block2 ' }}"></div>
  </div>
</div>
