{% set foo = foo|default('') %}
<div class="block {{ class|default('') }}" style="{{ style|default('') }}">
  <div style="width: {{ size }}; height: {{ size }};">
    Foo
  </div>
  <div style='{{ foo ? foo : "width: " ~ ( size ) ~ "; height: " ~ ( size ) ~ "" }};'>
    Bar
  </div>
</div>
