<div class="{{ class|default('') }}" style="{{ style|default('') }}">
  <div style="{{ 'fontSize: ' ~ size ~ 'px' }};"></div>
  <div>{{ 'foo' ~ ' bar' }}</div>
  <div>{{ text ~ ' foo' }}</div>
  <div>{{ text ~ 1 }}</div>
  <div>{{ size ~ ' foo' }}</div>
  <div>{{ size + 1 }}</div>
  <div>{{ 1 + 1 }}</div>
</div>
